.anchorpane{
    -fx-background-image: url("../Images/backgroundGame.jpg");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
    -fx-pref-width: 1366;
    -fx-pref-height: 690;
}

.back-button{
    -fx-background-image: url("../Images/backImage.png");
    -fx-min-width: 140;
    -fx-min-height: 140;
    -fx-background-color: transparent;
}

.back-button:hover{
    -fx-background-image: url("../Images/backImageHover.png");
}